

# Node dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables (רגיש!)
.env
*.env

# Logs
logs/
*.log

# Build folders
dist/
build/

coverage/
server/coverage/